:root {
    --sidebar-bg-color: #111; /* Variable for sidebar background color */
    --sidebar-link-color: #fff; /* Variable for sidebar links color */
    --sidebar-link-hover-color: red; /* Variable for sidebar links hover color */
    --content-h1-color: blue; /* Variable for h1 color in content */
    --border-width: 8px; /* Variable for border width */
}


.page1-title h1 {
    text-align: center;
    color: var(--content-h1-color); /* Using variable for h1 color */
    font-family: Arial, sans-serif;
}

.dog-container{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */ 
}

.dog-container img {
    border: var(--border-width) dashed transparent;
    animation: flashBorder 2s infinite;
}

@keyframes flashBorder {
    0% { border: var(--border-width) dashed red; }
    14% { border: var(--border-width) dashed orange; }
    28% { border: var(--border-width) dashed yellow; }
    42% { border: var(--border-width) dashed green; }
    57% { border: var(--border-width) dashed blue; }
    71% { border: var(--border-width) dashed indigo; }
    85% { border: var(--border-width) dashed violet; }
    100% { border: var(--border-width) dashed red; }
}